#snackWindow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
  z-index: 21;
}

/* Transition out */
#snack {
  background: #323232;
  padding: 10px;
  border-radius: 4px;
  margin: 0 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
  width: 100%;
  opacity: 0;
  transform: translate(0, 100vh);
  -ms-transform: translate(0, 100vh); /* IE 9 */
  -webkit-transform: translate(0, 100vh); /* Safari */
}

/* Transition in */
#snack.show {
  animation: fade-in-up 0.4s forwards;
  animation-fill-mode: forwards; /* for less modern browsers */
}

/* Transition out */
#snack.hide {
  animation: fade-out-down 0.4s forwards;
  animation-fill-mode: forwards; /* for less modern browsers */
}

#snackMessage {
  /* Adding padding to text allows consistent spacing with buttons */
  padding: 10px;
  margin-right: 30px;
  cursor: default;
  color: #fff;
}

#snackAction {
  padding: 10px;
  color: #2196f3;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

#snackAction:hover {
  background-color: #424242;
}


/*==================== Animations ====================*/
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate(0, -60px);
    -ms-transform: translate(0, -60px); /* IE 9 */
    -webkit-transform: translate(0, -60px); /* Safari */
  }

  100% {
    opacity: 1;
    transform: translate(0, -80px);
    -ms-transform: translate(0, -80px); /* IE 9 */
    -webkit-transform: translate(0, -80px); /* Safari */
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translate(0, -80px);
    -ms-transform: translate(0, -80px); /* IE 9 */
    -webkit-transform: translate(0, -80px); /* Safari */
  }

  99% {
    opacity: 0;
    transform: translate(0, -60px);
    -ms-transform: translate(0, -60px); /* IE 9 */
    -webkit-transform: translate(0, -60px); /* Safari */
  }

  100% {
    transform: translate(0, 100vh);
    -ms-transform: translate(0, 100vh); /* IE 9 */
    -webkit-transform: translate(0, 100vh); /* Safari */
  }
}


/*==================== >= 768px ====================*/
@media (min-width: 768px) {
  #snack {
    width: auto;
    max-width: 500px;
  }

  /*========== >= 768px Animations ==========*/
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translate(0, 100px);
      -ms-transform: translate(0, 100px); /* IE 9 */
      -webkit-transform: translate(0, 100px); /* Safari */
    }

    100% {
      opacity: 1;
      transform: translate(0, -30px);
      -ms-transform: translate(0, -30px); /* IE 9 */
      -webkit-transform: translate(0, -30px); /* Safari */
    }
  }

  @keyframes fade-out-down {
    0% {
      opacity: 1;
      transform: translate(0, -30px);
      -ms-transform: translate(0, -30px); /* IE 9 */
      -webkit-transform: translate(0, -30px); /* Safari */
    }

    99% {
      opacity: 0;
      transform: translate(0, 100px);
      -ms-transform: translate(0, 100px); /* IE 9 */
      -webkit-transform: translate(0, 100px); /* Safari */
    }

    100% {
      transform: translate(0, 100vh);
      -ms-transform: translate(0, 100vh); /* IE 9 */
      -webkit-transform: translate(0, 100vh); /* Safari */
    }
  }
}
