.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  position: relative;
}

.inputContainer .inputLabel {
  position: absolute;
  font-size: 12px;
  background: #fff;
  top: -6px;
  left: 5px;
  padding: 0 5px;
  z-index: 1;
}

.inputContainer input {
  border: solid 2px;
  border-color: #E0E0E0;
  box-shadow: none;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.3s;
  position: relative;
  transition: border-color 0.3s;
}

.inputContainer input:active, .inputContainer input:focus {
  border-color: #2196f3;
}
