/*==================== Static Styles ====================*/
#rightDrawerContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

#rightDrawerContainer .shade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.25;
    padding: 0;
    border: none;
    transition: opacity 0.3s;
}

#rightDrawer {
    position: absolute;
    height: 100vh;
    width: 350px;
    max-width: 85vw;
    top: 0;
    z-index: 1;
    background: #fff;
    box-shadow: -2px 0 2px rgba(0,0,0,0.25);
    transition: right 0.3s;
    overflow: auto;
}

#rightDrawer form {
    padding: 30px;
}

/* Inputs */
#rightDrawer form label {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

#rightDrawer form label span {
  position: absolute;
  font-size: 12px;
  background: #fff;
  top: -6px;
  left: 5px;
  padding: 0 5px;
  z-index: 1;
}

#rightDrawer form select, #rightDrawer form input {
  width: 100%;
  border: solid 2px;
  border-color: #E0E0E0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  transition: border-color 0.3s;
  position: relative;
}

/* Selects */
#rightDrawer form select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23BDBDBD%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  transition: border-color 0.3s, background-image 0.3s;
}

.select-css::-ms-expand {
    display: none;
}

#rightDrawer form input:active, #rightDrawer form input:focus,
#rightDrawer form select:active, #rightDrawer form select:focus {
  border-color: #2196f3;
}

#rightDrawer form select:active, #rightDrawer form select:focus {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%232196f3%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

/* Submit button */
#rightDrawer form .btn {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#rightDrawer form .btn input {
  border: none;
  border-radius: 4px;
  text-decoration: none;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
  cursor: pointer;
}

/* Button ripple */
#rightDrawer form .btn::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  transform: scale(500);
  background: #212121;
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
  z-index: 1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

#rightDrawer form .btn:active::before {
  transform: scale(0);
  opacity: 0.3;
  transition: transform 0s, opacity 0s;
}

/* Button hover shadow */
#rightDrawer form .btn::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.25);
  z-index: -1;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}

#rightDrawer form .btn:hover:after {
  opacity: 1;
}

/*==================== Animation ====================*/
/*===== Closed Styles =====*/
#rightDrawerContainer.closed .shade { opacity: 0; }

#rightDrawerContainer.closed #rightDrawer { right: -360px; }

/*===== Open Styles =====*/
#rightDrawerContainer.open { pointer-events: all; }

#rightDrawerContainer.open .shade { opacity: 0.25; }

#rightDrawerContainer.open #rightDrawer { right: 0; }
